~*
*~
*#
*.swp
*.idea

__pycache__/
.mypy_cache/
*.py[cod]
*$py.class
*.egg-info/
.vscode/

*/tags

/.coverage
/.coverage.*
/.cache

/doc/_autosummary/
/build

.DS_Store
*.pptx
*.docx
*.pdf
*.html
data/
*.jpg
